.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.UserRegisterForm {
  background-color:gainsboro;
  width: 50%;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  text-align: left;
}