/* HotelSearch.css */

.container {
  display: flex;
  justify-content: space-between;
}

.hotelList {
  flex: 1;
  padding: 1rem;
  height: 100%;
  overflow-y: auto;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hotelCard {
  display: flex;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #fff;
}

.highlighted {
  background-color: yellow;
}

.hotelSelected {
  position: relative;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #fff;
}

.hotelImageContainer {
  flex: 1;
  margin-right: 1rem;
  overflow: hidden;
}

.hotelImage {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.hotelInfoContainer {
  flex: 2;
}

.hotelName {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.hotelAddress {
  font-size: 1.2rem;
  color: #666;
}

.hotelRating {
  font-size: 1.2rem;
  color: #333;
  margin-top: 0.5rem;
}

.hotelPrice {
  font-size: 1.2rem;
  color: #008000;
  font-weight: bold;
  margin-top: 0.5rem;
}

.mapContainer {
  flex: 2;
  height: 80vh;
  margin: 20px;
  padding-top: 60px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.seeMoreButton {
  background: #1564BF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 1rem;
  display: inline-block;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
