.logo {
  max-width: 100px;
  max-height: 50px;
}

.link {
  color: white;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;

  &:hover {
    color: #ffd700;
  }

  &.selected {
    color: #00ff00;
  }
}